<div class="ms-core-defaultFont">
<table class="ms-formtable" style="margin-top: 8px;" border="0" cellpadding="0" id="formTbl" cellspacing="0" width="100%">
	<tbody>
	{{{body}}}
	</tbody>
</table>
</div>