<div id="s4-titlerow" class="ms-dialogHidden " style="display: block;">
  <div id="titleAreaBox" class="ms-noList ms-table ms-core-tableNoSpace">
    <div id="titleAreaRow" class="ms-tableRow">
    {{{body}}}
    </div>
  </div>
</div>