// States
.active {
    background-color: $color-mid;
    border-color: $color-mid-200;
    color: $text-color-light;
}

.show {
    @include show;
}

.isolate-background {
    background-color: $color-grey-600!important;
}