.ssg-toc-list {
    max-width: 1280px;
    @include hide;
    @extend %ssg-base-font;
    &.show {
        margin: 1em auto;
        padding: 1em;
        @include show;
    }
    ul {
        display: inline-block;
        float: left;
        box-sizing: border-box;
        width: 20%;
        height: auto;
        margin: 0;
        padding: 0 20px;
        li {
            font-size: 1.1em;
            font-weight: bold;
            display: block;
            text-transform: capitalize;
            color: $red;
        }
    }
    // TOC Item Container
    .ssg-toc-items {
        font-size: .8em;
        display: inline-block;
        width: 100%;
        padding: 0;
        column-count: 1;
    }
    // Child elements of toc container
    .ssg-toc-item {
        font-weight: normal;
        line-height: 1.5em;
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: black;
        break-inside: avoid;
        &.selected {
            color: $red;
        }
        &:hover {
            color: $red;
        }
    }
}