.sample {
    table {
        font-size: inherit;
    }
    .ms-formbody {
        width: inherit;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    }
}