// bower:scss
@import "bower_components/susy/sass/_susy.scss";
// endbower
@import url(https://n8design.sharepoint.com/_layouts/15/1033/styles/QCB.css);

@import url(https://fonts.googleapis.com/css?family=Pacifico);

.ms-rtestate-field {
    font-family: 'Pacifico', sans-serif;
}
h1, h2, h3, h4{
	font-family: 'Pacifico', cursive;
}
#DeltaSiteLogo{
	border: 10px red solid;
}