<fieldset>
    <div>
        <label for="{{id}}-select">select</label>
        <select id="{{id}}-select">
            <option>Option 1</option>
            <option selected>Option 2</option>
            <option disabled>Option 3</option>
        </select>
    </div>
    <div>
        <label for="{{id}}-select-multiple">select multiple</label>
        <select id="{{id}}-select-multiple" multiple>
            <option>Option 1</option>
            <option selected>Option 2</option>
            <option disabled>Option 3</option>
        </select>
    </div>
</fieldset>