<table class="ms-formtable" style="margin-top: 8px;" border="0" cellpadding="0" id="formTbl" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td nowrap="true" valign="top" width="113px" class="ms-formlabel">
		<span class="ms-h3 ms-standardheader">
			<nobr>Choice Field</nobr>
		</span>
		</td>
		<td valign="top" width="350px" class="ms-formbody">
		<!-- FieldName="Choice Field"
						FieldInternalName="Choice_x0020_Field"
						FieldType="SPFieldChoice"
				-->
		<span dir="none">
			<select id="Choice_x0020_Field_f521f2d5-4ca5-41b0-88fc-f7c9a216be81_$DropDownChoice" title="Choice Field"
			class="ms-RadioText">
			<option value="Enter Choice #1">Enter Choice #1</option>
			<option value="Enter Choice #2">Enter Choice #2</option>
			<option value="Enter Choice #3">Enter Choice #3</option>
			</select>
			<br />
		</span>
		</td>
	</tr>
	</tbody>
</table>