
<table class="ms-formtable" style="margin-top: 8px;" border="0" cellpadding="0" id="formTbl" cellspacing="0" width="100%">
<tbody>
	<tr>
		<td nowrap="true" valign="top" width="113px" class="ms-formlabel"><span class="ms-h3 ms-standardheader">
		<nobr>Display Name</nobr>
		</span>
		</td>
		<td valign="top" width="350px" class="ms-formbody">
		<!-- FieldName="Display Name"
			 FieldInternalName="Display_x0020_Name"
			 FieldType="SPFieldText"
		  -->
			<span dir="none"><input type="text" value="120944" maxlength="255" id="Display_x0020_Name_0cb75e8f-d490-4956-a5c1-2bfdc2653a3a_$TextField" title="Display Name" style="ime-mode : " class="ms-long ms-spellcheck-true"><br></span>
		</td>
	</tr>
</tbody>
</table>