<div id="siteIcon" class="ms-tableCell ms-verticalAlignTop">
	<div id="DeltaSiteLogo">
	
		<a id="ctl00_onetidProjectPropertyTitleGraphic" title="Site Icon" class="ms-siteicon-a" href="javascript:void(false)"><img id="ctl00_onetidHeadbnnr2" class="ms-siteicon-img" name="onetidHeadbnnr0" src="//placehold.it/300x100" alt="Site Icon"></a>
	
</div>
</div>