<div id="siteIcon" class="ms-tableCell ms-verticalAlignTop">
	<div id="DeltaSiteLogo">
	
		<a id="ctl00_onetidProjectPropertyTitleGraphic" title="Site Icon" class="ms-siteicon-a" href="javascript:void(false)"><img id="ctl00_onetidHeadbnnr2" class="ms-siteicon-img" name="onetidHeadbnnr0" src="https://bnedev.sharepoint.com/_layouts/15/images/siteIcon.png?rev=44#ThemeKey=siteicon" alt="Site Icon"></a>
	
</div>
</div>