<div class="ms-rtestate-field">
<h1 class="ms-rteElement-H1B">Header 1</h1>
<h2 class="ms-rteElement-H2B">Header 2</h2>
<h3 class="ms-rteElement-H3B">Header 3</h3>
<h4 class="ms-rteElement-H4B">Header 4</h4>
</div>