<div class="ms-rtestate-field">
  <h1 class="ms-rteElement-H1B">Headline 1</h1>
  <h2 class="ms-rteElement-H2B">Headline 2</h2>
  <h3 class="ms-rteElement-H3B">Headline 3</h3>
  <h4 class="ms-rteElement-H4B">Headline 4</h4>
</div>
