<div class="ms-rtestate-field">
  <p><span class="ms-rteStyle-Quote">Quote</span></p>
  <p><span class="ms-rteStyle-IntenseQuote">Intensive Quote</span></p>
  <p><span class="ms-rteStyle-Emphasis">Emphasing</span></p>
  <p><span class="ms-rteStyle-IntenseEmphasis">Intense Emphasing</span></p>
  <p><span class="ms-rteStyle-References">Reference</span></p>
  <p><span class="ms-rteStyle-IntenseReferences">Intense Reference</span></p>
  <p><span class="ms-rteStyle-Accent1">Accent 1​​​</span></p>
  <p><span class="ms-rteStyle-Accent2">Accent 2</span></p>
</div>