<div class="ms-rtestate-field">
  <h1 class="ms-rteElement-H1B"><a href="#">Headline 1</a></h1>
  <h2 class="ms-rteElement-H2B"><a href="#">Headline 2</a></h2>
  <h3 class="ms-rteElement-H3B"><a href="#">Headline 3</a></h3>
  <h4 class="ms-rteElement-H4B"><a href="#">Headline 4</a></h4>
</div>