<a href="#">Link</a>
<abbr title="abbr">Abbreviation</abbr>
<code><link rel="stylesheet" href="#" /></code>
<em>Emphasis</em>
<strong>Strong</strong>
<sub>Sub text</sub>
<sup>Superscript</sup>
<time datetime="2016-04-20">Next April</time>