<div class="ms-Dropdown is-disabled" tabindex="0">
  <label class="ms-Label">Dropdown label (disabled)</label>
  <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
  <select class="ms-Dropdown-select">
    <option>Choose a sound…</option>
    <option>Dog barking</option>
    <option>Wind blowing</option>
    <option>Duck quacking</option>
    <option>Cow mooing</option>
  </select>
</div>
<div class="ms-Dropdown" tabindex="0">
  <label class="ms-Label">Dropdown label</label>
  <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
  <select class="ms-Dropdown-select">
    <option>Choose a sound…</option>
    <option>Dog barking</option>
    <option>Wind blowing</option>
    <option>Duck quacking</option>
    <option>Cow mooing</option>
  </select>
</div>